<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="Octopus.ServerUrl" value="" />
    <add key="Octopus.ApiKey" value="" />
    <add key="Octopus.ProdEnvName" value="Prod" />
    <add key="Tfs.ServerUrl" value="" />
    <add key="Tfs.User" value="" />
    <add key="Tfs.ApiKey" value="" />
    <add key="Tfs.Project" value="" />
    <!-- UserNameTransformer.Translations - Should be domain regex using a : to seperate find/replace and ; for multiple items. -->
    <!-- Example: ([A-Za-z]).+\.([A-Za-z]+):$1$2 does bob.vila -> bvila -->
    <add key="UserNameTransformer.Translations" value="" />
    <!-- UserNameTransformer.RegexUserTranslations - Should be domain regex using a : to seperate find/replace and ; for multiple items. -->
    <!-- Example: mycompany\.com:othercompany.com;foo\.com:other.com-->
    <add key="UserNameTransformer.RegexUserTranslations" value="" />
    <!-- UserNameTransformer.FixedUserTranslations - Should be strings using a : to seperate find/replace and ; for multiple items. -->
    <!-- Example: bvila:bavila-->
    <add key="UserNameTransformer.FixedUserTranslations" value="" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>